<div class="preview-wrapper cell twelve">
    <article class="twelve cell"
             ng-class="{ expanded: info.expanded, unpublished: (info.status === 1 || info.status === 2) }">
        <div class="row">
            <div class="one cell three-mobile">
                <div ng-class="{ allowcheck: info.allow('edit') || info.allow('viewShare') || info.allow('unsubmit') || info.allow('submit') || info.allow('remove')}" class="horizontal-spacing">
                    <img skin-src="/img/illustrations/actualites-default.png" ng-if="!info.thread.icon" />
                    <img ng-src="[[info.thread.icon]]?thumbnail=120x120" ng-if="info.thread.icon" />
                </div>
            </div>
            <div class="cell eleven nine-mobile">
                <h2 ng-click="info.expanded = !info.expanded">
                    <i class="star accent-color" ng-if="info.is_headline"></i>
                    [[info.title]]
                </h2>
                <div ng-click="info.expanded = !info.expanded; info.displayComments = !info.displayComments">
                    <div ng-show="!info.expanded">
                        <div class="cell twelve info-preview">
                            <div class="twelve cell" bind-html="info.preview">
                            </div>
                            <div class="degrade twelve" ng-if="info.content.length > 500">
                            </div>
                        </div>
                    </div>
                    <div ng-show="info.expanded">
                        <div class="twelve cell" bind-html="info.content"></div>
                    </div>
                </div>
                <div>
                    <em class="cell metadata vertical-spacing">
                        <i18n>actualites.info.label.author</i18n> <a
                            href="/userbook/annuaire#/[[info.owner]]">[[info.username]]</a>,
                        [[getInfoDate(info)]]
                        <span class="warning-text" translate content="[[getState(info)]]"></span>
                    </em>
                    <div class="cell right-magnet"
                         ng-if="info.allow('comment') || info.comments.length() > 0">
                        <a ng-click="info.displayComments = true; info.expanded = true;" ng-show="!info.displayComments">
                            <i18n>actualites.info.label.comments</i18n> ([[info.comments.all.length]])
                        </a>
                        <a ng-click="info.displayComments = false" ng-show="info.displayComments">
                            <i18n>actualites.info.label.comments.close</i18n>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="info.displayComments && info.expanded">
            <container template="comments"></container>
        </div>
        <check-tool ng-model="info.selected" ng-click="$event.stopPropagation()"
                    ng-if="info.allow('edit') || info.allow('viewShare') || info.allow('unsubmit') || info.allow('submit') || info.allow('remove')"></check-tool>
    </article>
</div>
